<!DOCTYPE html>
<html>

<body>
  <%- include('../layout/header') %>
  <Main>
    <form class="login hide" action="/user" method="POST">
      <section id="loginForm">
        <h2>Have an account? Login here.</h2>
        <h2>Don't have an account? <br>Enter a username to create one.</h2>
        <input type="text" name="username" placeholder="Please enter username">
        <button id="login">Login</button>
      </section>
    </form>
    <form action="/play" method="GET">
      <button id="play">Play!</button>
    </form>
  </Main>
  <%- include('../layout/footer') %>
</body>


</html>